.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-huge {
  margin-top: 12rem !important;
}

.u-border-bottom-grey {
  padding: 0.5rem 0rem !important;
  border-bottom: 2px solid $color-light-grey !important;
}

.u-background-for-header {
  background-color: rgba($color-white, 0.8) !important;
}

.u-color-white {
  color: white !important;
}

.u-overflow-x-hidden {
  overflow-x: hidden !important;
}

.u-overflow-y-hidden {
  overflow-y: hidden !important;
}

.u-margin-right-0 {
  margin-right: 0px !important;
}

.u-color-black {
  color: black !important;
}

.u-header-shadow {
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
}
